@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components{
    .header{
        width: 100%;
        min-width: 100%;
        min-height: 50px;

        position: sticky;
        top: 0px;

        @apply bg-slate-900 shadow-slate-500 shadow-lg flex flex-row items-center p-5 text-white text-lg font-light
    }
}